/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* VARIABLES */
:root {
  --rednice: rgb(238, 57, 57);
  --brown: #ff4040;
  --orange: #ff8c69;
  --salmon: #ee9572;
  --ligth: #f9f9f9;
  --white: #ffffff;
  --gray: var(--gray);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* BASE */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: gray;
  background: var(--white);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: black;
  -webkit-font-smoothing: auto;
}

.button {
  background: var(--rednice);
  color: var(--white);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--brown);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, #f82f2f 0, #555454 100%);
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, #f82f2f, #555454);
}

/* LAYOUT */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + 4.5rem) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

#header {
  border-bottom: 1px solid var(--brown);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

#header.scroll {
  background: #ffa07a;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#header.scroll .logo span {
  color: white;
}

#header.scroll .logo .icon-open {
  color: white;
}

/* LOGO */

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--rednice);
}

.logo span {
  color: black;
}

.logo-alt span {
  color: white;
}

/* NAVIGATION */

nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}
nav ul li a {
  transition: 0.2s;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: black;

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #ff8c69;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* MOSTRAR MENU */

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--ligth);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav ul.grid {
  gap: 4rem;
}

/* toggle menu */

.toggle {
  color: var(--rednice);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-cross {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-cross {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* HOME */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: gray;
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ABOUT */

#about {
  background: var(--white);
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: gray;
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* SERVICES */

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0 px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--rednice);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--rednice);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* PHOTOS */

#photo {
  background: white;
}

#photo .container {
  margin-left: 0;
  margin-right: 0;
}

#photo header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#photo img {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

/* swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--rednice);
}

/* CONTACT */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--rednice);
}

/* footer */

footer {
  background: #ffa07a;
}

footer .section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--white);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--white);
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* back to top */

.back-to-top {
  background: var(--rednice);
  color: var(--white);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.6rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* responsivo (media queries) */
/* extra large devices: 1200 > */

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #photo header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* home */

  #home .container {
    grid-auto-flow: column;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 28rem;
    text-align: left;
  }

  /* about */

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* photo */
  #photo .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  }
  
  main {
    margin-top: calc(4.5rem);
  }
}
/* large devides: 992 >  */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
