@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w7fk3j');
  src:  url('fonts/icomoon.eot?w7fk3j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w7fk3j') format('truetype'),
    url('fonts/icomoon.woff?w7fk3j') format('woff'),
    url('fonts/icomoon.svg?w7fk3j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-up:before {
  content: "\e906";
}
.icon-phone_iphone:before {
  content: "\e905";
}
.icon-birthday_cake_celebration_food_party_icon:before {
  content: "\e900";
}
.icon-beverage_coffee_cup_drink_food_icon:before {
  content: "\e901";
}
.icon-bakery_dessert_donut_doughnut_food_icon:before {
  content: "\e902";
}
.icon-box_breakfast_dessert_fast_food_icon:before {
  content: "\e903";
}
.icon-bread_breakfast_fastfood_food_piece_icon:before {
  content: "\e904";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
